body{
    background-image: url(imagenes/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    text-align: center;
    background-color: rgba(0, 0, 255,0.5);
    color: rgb(246, 254, 10);
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 5px;
    
}
#list{
    color: rgb(250, 244, 244);
    text-align: center;
    background-color: rgba(210, 105, 30,0.5);    
    display: flex;
    justify-content: space-evenly;
    
}
.bg-white{
    background-color: blanchedalmond;
}
#title2{
    color: cadetblue;
}
#information{
    color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
